<%- include('./partials/header.ejs') %>


<div class="container mb-4 mt-4">
    <div class="mt-4 d-flex justify-content-end">
        <a href="/notifications/new" class="btn btn-danger">Add Notifications</a>
        </div>
    <div  class="d-flex justify-content-center mb-4">
        <h2>Latest Notifications</h2>
    </div>
<% for( let notif of allNotifs ) { %>
<div class="card mb-4">
    <div class="card-body " >
       
            <div class="row d-flex justify-content-center">
                <div class="col-md-2">
                    <i class='far fa-bell' style='font-size:36px'></i>
                </div>
                <div class="col-md-4 ">
                 <h5><%= notif.body %> by  <%= notif.author %> ..!</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <form action="/notifications/<%= notif._id %>?_method=DELETE" method="post">
                    <input class=" btn-danger" type="submit" value="X">
                </form>
            </div>
            </div>
           
    </div>
  </div>
  <% } %>

</div>





<%- include('./partials/footer.ejs') %>